{% extends "layouts/base.html" %}

{% block title %} Logbook {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="page-header-title col-sm-6">
                                    <h5 class="m-b-10">{{ current_user.username }}</h5>
                                </div>
                                <div class="col-sm-6 text-primary">Administrator's query - All Concretors</div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- [ basic-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>LOGBOOK</h5>
                                            <span class="d-block m-t-5">A record of work activities with risk of RCS exposure.</span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Username</th>
                                                            <th>Email</th>
                                                            <th>Date created</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for concretor in concretors %}
                                                        <tr>
                                                            <th scope="row">{{ concretor.id }}</th>
                                                            <td>{{ concretor.username }}</td>
                                                            <td>{{ concretor.email }}</td>
                                                            <td>{{ concretor.created_at }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ basic-table ] end -->
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
