{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-sm-9">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">My Profile</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item">My Profile</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <!--<img src="{*{ config.ASSETS_ROOT }*}/images/user/profile.jpg" alt="profile image" class="img-fluid rounded-circle">-->
                                                    <img class="img-fluid rounded-circle" src={{ current_user.avatar(300) }} alt="change avatar">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {{ current_user.email }}
                                                    </p>
                                                    <p>
                                                        {% if current_user.firstname %} {{ current_user.firstname }} {% endif %}
                                                        {% if current_user.lastname %} {{ current_user.lastname }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    {% if current_user.bio %} {{ current_user.bio }} {% endif %}
                                                    <br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Concretor</h5>
                                        </div>
                                        <div class="card-body">
                                            <dl class="dl-horizontal row">
                                                <dt class="col-sm-3">Username</dt>
                                                <dd class="col-sm-9">{{ current_user.username }}</dd>
                                                <dt class="col-sm-3">Email</dt>
                                                <dd class="col-sm-9">{{ current_user.email }}</dd>
                                                <dt class="col-sm-3">Name</dt>
                                                <dd class="col-sm-9">
                                                    {{ current_user.firstname | default('no first name yet, ', True) }}
                                                    {{ current_user.lastname | default('no last name yet', True) }}
                                                </dd>
                                                <!-- <dt class="col-sm-3 text-truncate">Biography (a short summary)</dt> -->
                                                <dt class="col-sm-3">Biography</dt>
                                                <dd class="col-sm-9">{{ current_user.bio | default('no biography yet', True) }}</dd>
                                            </dl>
                                        </div>
                                        <div class="card-block">
                                            <a class="btn btn-primary m-t-5" href={{ url_for('activity_blueprint.edit_profile') }} role="button" title="update or edit your profile" data-toggle="tooltip" aria-controls="editProfile">Edit profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
