{% extends "layouts/base.html" %}

<!-- Import macros from the forms file -->
{% from '/includes/form-macros.html' import form_select %}

{% block title %} New Entry {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">{{ current_user.username }}</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">New</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>New Logbook  Entry</h5>
                                        <span class="d-block m-t-5">write a new <code>logbook entry</code> here</span>
                                    </div>

                                    <!--<form role="form" method="post" action="/logbook/my-logbook/new" >-->
                                    <form role="form" method="post">

                                        <div class="card-block">

                                            {{ form.hidden_tag() }}

                                            <!--datetime now: {*{ #datetimenow.strftime('%d/%m/%Y %H:%M:%S') }*}-->
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <!-- jinja date control -->
                                                    <div class="form-group">
                                                        {{ form.job_date.label }} (can be back-dated)
                                                        {{ form.job_date(class="form-control", value=datetimenow.strftime('%Y-%m-%d')) }}
                                                    </div>

                                                    <!-- jinja form select -->
                                                    {{
                                                    form_select('job', 'Work Activity', [
                                                        ('floor-grinder', 'Walk-behind Grinder'),
                                                        ('hand-grinder', 'Hand Grinder'),
                                                        ('drill', 'Drill into Concrete'),
                                                        ('jackhammer', 'Jackhammer')
                                                        ], required=true)
                                                    }}
                                                </div>
                                                <div class="col-md-6">

                                                    <!-- site -->
                                                    <div class="form-group">
                                                        <label>Site</label>
                                                        {{ form.job_site(placeholder="Job site", class="form-control") }}
                                                    </div>

                                                    <!-- duration -->
                                                    <div class="form-control">
                                                        <label for="duration-bar">Duration</label>
                                                        <input name="job_duration" type="range" list="tickmarks" min="1" max="8" step="0.5" class="custom-range" id="duration-bar" />
                                                        <datalist id="tickmarks">
                                                            <option value="1" label="1">1</option>
                                                            <option value="2" label="2">2</option>
                                                            <option value="3" label="3">3</option>
                                                            <option value="4" label="4">4</option>
                                                            <option value="5" label="5">5</option>
                                                            <option value="6" label="6">6</option>
                                                            <option value="7" label="7">7</option>
                                                            <option value="8" label="8">8</option>
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- checklist -->
                                        <div class="card-block">
                                            <ul class="custom-control custom-checkbox">
                                                {% for list_num, safety_item in checklist %}
                                                <li>
                                                    <input type="checkbox" class="custom-control-input" id={{ list_num }} value={{ list_num }} name="cl">
                                                    <label class="custom-control-label" for={{ list_num }}>{{ safety_item }}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <!--<button type="submit" class="btn btn-primary shadow-2 mb-4">Update</button>-->
                                                    {{ form.submit_entry(class="btn btn-primary shadow-2 mb-4") }}
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                            <!-- [ basic-table ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
