{% extends "layouts/base.html" %}

<!-- Import macros from the forms file -->
{% from '/includes/form-macros.html' import form_select %}

{% block title %} New Entry {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">{{ current_user.username }}</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">New</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>New Logbook  Entry</h5>
                                        <span class="d-block m-t-5">write a new <code>logbook entry</code> here</span>
                                    </div>

                                    <!--<form role="form" method="post" action="/logbook/my-logbook/new" >-->
                                    <form role="form" method="post">

                                        <div class="card-block">

                                            {{ form.hidden_tag() }}

                                            <!--datetime now: {*{ #datetimenow.strftime('%d/%m/%Y %H:%M:%S') }*}-->
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <!-- jinja date control -->
                                                    <div class="form-group">
                                                        {{ form.job_date.label }} (can be back-dated)
                                                        {{ form.job_date(class="form-control", value=datetimenow.strftime('%Y-%m-%d')) }}
                                                    </div>

                                                    <!-- wtform radio -->
                                                    <label>{{ form.job_task.label }}</label>
                                                    {% for task in form.job_task %}
                                                    <div class="custom-control custom-radio">
                                                        {{ task(class="custom-control-input") }}
                                                        {{ task.label(class="custom-control-label") }}<br />
                                                    </div>
                                                    {% endfor %}
                                                    
                                                </div>
                                                <div class="col-md-6">

                                                    <!-- jinja form select -->
                                                    {{
                                                    form_select('job_site', 'Job Site', [
                                                        ('jh-nth', 'New Toowoomba Hospital - John Holland'),
                                                        ('mp-qw', 'Queens Wharf - Multiplex'),
                                                        ('jh-lh', 'Logan Hospital - John Holland')
                                                        ], required=true)
                                                    }}

                                                    <!-- duration -->
                                                    <label for="duration-bar2">
                                                        Duration: <output class="price-output"></output> hours.
                                                    </label>
                                                    <div class="form-control">
                                                        <input type="range"
                                                               class="custom-range"
                                                               name="job_duration"
                                                               id="duration-bar2"
                                                               min="0"
                                                               max="10"
                                                               step="0.25"
                                                               value="1" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- checklist -->
                                        <div class="card-block">
                                            <ul class="custom-control custom-checkbox">
                                                {% for list_num, safety_item in checklist %}
                                                <li>
                                                    <input type="checkbox" class="custom-control-input" id={{ list_num }} value={{ list_num }} name="cl">
                                                    <label class="custom-control-label" for={{ list_num }}>{{ safety_item }}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <!--<button type="submit" class="btn btn-primary shadow-2 mb-4">Update</button>-->
                                                    {{ form.submit_entry(class="btn btn-primary shadow-2 mb-4") }}
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                            <!-- [ basic-table ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    const price = document.querySelector("#duration-bar2");
    const output = document.querySelector(".price-output");

    output.textContent = price.value;

    price.addEventListener("input", () => {
        output.textContent = price.value;
    });

    //var slider = document.getElementById("duration-bar2");
    //var output = document.querySelector(".duration-output");
    //output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = this.value;
    } 
</script>

{% endblock javascripts %}
