{% extends "layouts/base-nav.html" %}

{% from '/includes/form-macros.html' import render_pagination %}

{% block title %} Tool Register {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            {% if admin %}
                            <div class="col-sm-6">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">{{ current_user.username }}</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 text-primary">Administrator's query - All Tools</div>
                            {% else %}
                            <div class="page-header-title col-sm-9">
                                <h5 class="m-b-10">{{ current_user.username }}</h5>
                            </div>
                            <div class="col-auto text-right">
                                <a class="btn btn-outline-secondary m-t-5" href="my-logbook/new" role="button">Make New Entry</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ basic-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>{{ title }}</h5>
                                        <span class="d-block m-t-5">{{ subtitle }}</span>
                                    </div>

                                    <div class="card-block">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-6">
                                                <label>Filter by brand or model...</label>
                                                <input type="text" id="search-table" class="form-control mb-4" placeholder="search . . ">
                                            </div>
                                        </div>
                                        <div class="i-main" id="icon-wrapper"></div>
                                    </div>

                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table" id="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Brand</th>
                                                        <th>Model</th>
                                                        <th>Added</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for tool in tools %}
                                                    <tr>
                                                        <th scope="row">{{ tool.id }}</th>
                                                        <td>{{ tool.brand_name }}</td>
                                                        <td>{{ tool.model_number }}</td>
                                                        <td>{{ tool.added_at.date() }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <hr>
                                        {{ render_pagination(pagination=tools, endpoint='.all_tools') }}
                                    </div>
                                </div>
                            </div>
                            <!-- [ basic-table ] end -->

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function () {
        $("#search-table").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            // Toggle row visibility based on a partial text match
            $("#data-table tbody tr").filter(function () {
                // Find the cell in the specific column index (e.g., 0 for the 1st column)
                //var cellText = $(this).find("td").inArray(index, [1,2]).text().toLowerCase();
                //var cellText = $(this).find("td:nth-child(1)").text().toLowerCase();
                var cellText = $(this).children("td:eq(0), td:eq(1)").text().toLowerCase();
                //var cellText = $(this).find("td").eq(0).text().toLowerCase();
                $(this).toggle(cellText.indexOf(value) > -1);
            });
        });
    });

</script>
{% endblock javascripts %}
