<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-check-square"></i>
                </div>
                <span class="b-title">RCS Logbook</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Concretor</label>
                </li>
                <li data-username="logbook table datatable entry entries"
                    class="nav-item {% if 'logbook' in segment %} active {% endif %}">
                    <a href={{ url_for('activity_blueprint.my_logbook') }} class="nav-link ">
                        <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                        <span class="pcoded-mtext">My Logbook</span>
                    </a>
                </li>
                <li data-username="my profile"
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href={{ url_for('activity_blueprint.my_profile') }} class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">My Profile</span>
                    </a>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Foreman</label>
                </li>
                <li data-username="my tools tools"
                    class="nav-item {% if 'tools' in segment %} active {% endif %}">
                    <a href={{ url_for('tools_blueprint.index') }} class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-briefcase"></i></span>
                        <span class="pcoded-mtext">My Tools</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Admin</label>
                </li>
                <li data-username="training"
                    class="nav-item {% if 'training' in segment %} active {% endif %}">
                    <a href={{ url_for('training_blueprint.index') }} class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-award"></i></span>
                        <span class="pcoded-mtext">Training</span>
                    </a>
                </li>
                <li data-username="admin database actions"
                    class="nav-item pcoded-hasmenu {% if 'query' in segment %} active {% endif %}">
                    <a href="javascript:" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Queries</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href={{ url_for('activity_blueprint.all_concretors') }}>Concretors</a></li>
                    </ul>
                    <ul class="pcoded-submenu">
                        <li class=""><a href={{ url_for('activity_blueprint.view_logbook') }}>RCS Logbook</a></li>
                    </ul>
                    <ul class="pcoded-submenu">
                        <li class=""><a href={{ url_for('tools_blueprint.all_tools') }}>Tool Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
