{% extends "layouts/base.html" %}

{% block title %} Training {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-sm-9">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Training and Testing</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Training</a></li>
                                    </ul>
                                </div>
                                {% if current_user.role == "admin" %}
                                <div class="col-auto text-right">
                                    <a class="btn btn-outline-secondary m-t-5" href="add-course" role="button">Add New Course</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ striped-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>All Courses</h5>
                                            <span class="d-block m-t-5">List of courses delivered by training <code>providers</code>. Concretors registered with the database can be enrolled in these courses.</span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Course/Provider</th>
                                                            <th>Duration</th>
                                                            <th scope="col">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        {% for course in courses %}
                                                        <tr class="unread">
                                                            <td>
                                                                <h6 class="mb-1">{{ course }}</h6>
                                                                <p class="m-0">{{ course.provider }}</p>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">
                                                                    <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                                    {{ course.duration }}
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <a href={{ url_for('.view_training', name=course.name) }} class="label theme-bg text-white f-12">View</a>
                                                                {% if current_user.role == "admin" %}
                                                                <a href={{ url_for('.add_training', _id=course.id) }} class="label theme-bg2 text-white f-12">Create</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ striped-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
